@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@1,200;1,500&display=swap");
$navbarColor: #3a3a3a;
$bgcolorJumbo: #00000068;
@mixin jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 17rem;
}

* {
  font-family: "Raleway", sans-serif;
}
nav {
  background-color: $navbarColor;
}

.jumbotron h1 p,
.buttons,
#mapButton {
  background-color: $bgcolorJumbo;
  color: black;
}

.jumbotron {
  background-image: url(images/exclusive_knives.png);
  background-size: auto;
  height: 50vh;
}

.jumbotron h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 80px;
}

.jumbotron p {
  font-family: "Montserrat", sans-serif;
}

iframe {
  width: 100%;
  height: 30em;
  display: block;
}

.nav-item:hover {
  background-color: grey;
}

body {
  overflow-x: hidden;
}

.butiker {
  height: 20rem;
  width: 40rem;
}

.content-text {
  p {
    padding-top: 40px;
  }
}

.carousel-text {
  display: flex;
  justify-content: center;
}

#carousel {
  width: 1300px;
  height: 400px;
  .carousel-item {
    width: 1300px;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.article {
  width: 200px;
  height: 400px;
  margin-bottom: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.map-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mail {
  text-decoration: none;
  color: white;
}

.jumbotron-index {
  background-image: url(images/Best-Kitchen-Knives.jpeg);
  @include jumbotron();
}

.jumbotron-product {
  background-image: url(images/three_knives.jpeg);
  @include jumbotron();
}

.jumbotron-reseller {
  background-image: url(images/Best-Kitchen-Knives.jpeg);
  @include jumbotron();
}
